@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* font-size: 16px; */
	--color-text: #fff;
	--color-bg: #121212;
	--color-bg2: #3b3b3b;
	--color-link: #fff;
	--color-link-hover: #dad7d7;

	/* Colores imagen principal */
	--color1: #332a3a;
	--color1:#af7278;
	--color3:#7c3534;
	--color4:#dfc3bf;
	--color5:#b6abb8;
	--color6:#6f7089;
	--color7:#673a48;
	--color8:#df9e95;
}
  
body {
	margin: 0;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* height: 100%; */
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	font-family: 'Raleway', sans-serif;
}
/* PRINCIPIO AJUSTES GENERALES FUENTE */
p{
	font-size: 18px;
}
/* FINAL AJUSTES GENERALES FUENTE */
a {
	font-size: 16px;
	text-decoration: none;
	color: var(--color-text);
	outline: none;
	cursor: pointer;
}

a:hover {
	color: var(--color6);
	background-color: var(--color8);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}
.frame {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	color: var(--color-title);
	padding: 2rem;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto auto auto 1fr;
	grid-template-areas: 'title title' 'prev back' 'icons icons' 'sponsor sponsor' 'nav nav';
	justify-content: start;
	align-content: start;
	align-items: start;
	z-index: 100;
	pointer-events: none;
	grid-gap: 1rem;
}
.frame .frame__title, a,.frame__icons {
	background: rgba(112, 113, 138, 0.23);
	border-radius: 10px;
	padding: 7px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
}
.frame a,
.frame button {
	pointer-events: auto;
}

.frame__title {
	grid-area: title;
	display: flex;
	align-items: flex-end;
	font-weight: 400;
}

.frame__title-main {
	font-size: inherit;
	margin: 0;
}

.frame__back {
	grid-area: back;
}

.frame__prev {
	grid-area: prev;
}

.frame__icons {
	grid-area: icons;
	display: grid;
	grid-template-columns: repeat(4,auto); /*Modificar numero por iconos que haya*/
	column-gap: 1rem;
	row-gap: 0.5rem;
}

a.frame__a {
	font-weight: 400;
	font-size: 1rem;
	text-decoration: none;
	/* opacity: 0.5; */
	opacity: 1;
	font-family: "anonymous-pro", monospace;
}
a.frame__a svg:hover{
	stroke: var(--color6);
	stroke-width: 1.3;
}

.container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	place-items: center;
}

.slide {
	width: 100%;
	height: 100%;
	grid-area: 1 / 1 / -1 / -1;
	pointer-events: none;
	opacity: 0;
	overflow: hidden;
	position: relative;
	display: grid;
	place-items: center;
	will-change: transform, opacity;
}
.slide-grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(7, 1fr);
	grid-column-gap: 3rem;
	grid-row-gap: 0px;
	justify-items: start;
    align-items: center;
}
.slide .boton-normal {
	padding: 20px;
	font-size: 20px;
	text-decoration: none;
	color: var(--color-text);
	outline: none;
	cursor: pointer;
	
}
.slide .boton-normal:hover {
	color: var(--color6);
	background-color: var(--color8);
	outline: none;
}
/* Header slide */
.header {
	background: url(../img/IsraDev.png) no-repeat center center fixed;
	background-size: cover;
}
.header .header__logo{
	grid-area: 2 / 2 / 7 / 5;
	margin-left: 70px;
	max-width: 500px;
	min-width: 250px;
}
.header h1{
	grid-area: 4 / 2 / 6 / 5;
	font-size: 140px;
	font-weight: 100;
}
.header h1 span{
	font-weight: 300;
	color: var(--color6);
}
/* Header slide */

/* about slide */
.about-me {	
	background: url(../img/slide-2.jpg) no-repeat center center fixed;
	background-size: cover;
}
/* about slide */

/* skills slide */
.skills {
	background: url(../img/slide-3.jpg) no-repeat center center fixed;
	background-size: cover;
}
/* skills slide */

/* projects slide */
.projects {
	background: url(../img/slide-4.jpg) no-repeat center center fixed;
	background-size: cover;
}
/* projects slide */

/* experience slide */
.experience {
	background: url(../img/slide-5.jpg) no-repeat center center fixed;
	background-size: cover;
}
/* experience slide */

/* testimonials slide */
.testimonials {
	background: url(../img/slide-6.jpg) no-repeat center center fixed;
	background-size: cover;
}
/* testimonials slide */

/* contact slide */
.contact {
	background: url(../img/slide-7.jpg) no-repeat center center fixed;
	background-size: cover;
}
/* contact slide */

/* contact slide */
footer {
	background: url(../img/slide-8.jpg) no-repeat center center fixed;
	background-size: cover;
}
/* contact slide */

.slide--current {
	pointer-events: auto;
	opacity: 1;
}

.slide__img {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	will-change: transform, opacity, filter;
}

.slides-nav {
	grid-area: nav;
	display: flex;
	gap: 0.5rem;
	align-self: end;
	align-items: center;
}

.slides-nav__item {
	border: 0;
	background-color: var(--color6);
	color: var(--color8);
	width: 40px;
	aspect-ratio: 1;
	display: grid;
	place-items: center;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s;
}

.slides-nav__item:hover {
	background: var(--color8);
	color: var(--color6);
}

/* PRINCIPIO MEDIA QUERY */
@media screen and (min-width: 53em) {
	.frame { 
		height: 100vh; 
		grid-gap: 2rem;
		align-content: space-between;
		grid-template-columns: auto auto auto 1fr;
		grid-template-rows: auto auto;
		grid-template-areas: 'title back prev icons' 'sponsor ... ... nav ';
	}
	.frame__icons {
		justify-self: end;
		justify-content: end;
	}
	.frame__icons span,
	a.frame__a {
		text-align: right;
	}
	.slides-nav {
		justify-self: end;
	}
	body #cdawrap {
		align-self: center;
		justify-self: start;
	}
}
@media screen and (min-width: 1920px) {
	/* Estilos para pantallas grandes, como PC de escritorio */
  }
  @media screen and (max-width: 1919px) {
	/* Estilos para pantallas más pequeñas, como PC portátil o monitores de menor resolución */
	.header h1{
		font-size: 100px;
	}
  }
  @media screen and (max-width: 1024px) {
	/* Estilos para tablets en modo horizontal o pantallas más pequeñas */
	.header h1{
		font-size: 80px;
	}
  }
  
  @media screen and (max-width: 768px) {
	/* Estilos para tablets en modo vertical o pantallas más pequeñas */
  }
  @media screen and (max-width: 767px) {
	/* Estilos para dispositivos móviles en modo vertical */
	.header h1{
		font-size: 80px;
	}
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
	/* Estilos para dispositivos móviles en modo horizontal */
  }
		  
/* FINAL MEDIA QUERY */
