@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
    /* --primary-100:#FF6B6B;
    --primary-200:#dd4d51;
    --primary-300:#8f001a;
    --accent-100:#00FFFF;
    --accent-200:#00999b;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#0F0F0F;
    --bg-200:#1f1f1f;
    --bg-300:#353535; */

  --background: #0F0F0F;
  --background-transparencia: #0f0f0fa1;
  --background-barra: #1f1f1f;
  --background-claro: #fff;
  --principal: #FF6B6B;
  --principal-transparencia: #dd4d51;
  --secundario: #353535;
  --blanco: #ffffff;

  /* terminal */
  --primaryTextColor: #fff;
  --secundaryTextColor: #00FFFF;
  --highlightTextColor: #FF6B6B;
  --baseDirectory: "system@isradev.com:~$";

  /* Buttons */
  --border: 1px;
  --slant: 0.7em;
  --color: #FF6B6B;
  --clip-path: polygon(
    0 0,
    calc(100% - var(--slant)) 0,
    100% var(--slant),
    100% 100%,
    var(--slant) 100%,
    0 calc(100% - var(--slant))
  );
}
@font-face {
  font-family: "Quantum"; /* Asigna un nombre a tu fuente */
  src: url("../fonts/quantum/Quantum.otf") format("truetype"); /* Ruta relativa a la carpeta fonts y formato de la fuente */
}
body {
  background: url(../img/NetWave-System-Background.png) no-repeat center center
    fixed;
  background-size: cover;
  overflow: hidden;
  font-family: "IBM Plex Mono", monospace;
  color: var(--blanco);
  font-size: 16px;
}
/* AJUSTES GENERALES */
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
h3 {
  font-size: 28px;
  margin-bottom: 10px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 19px;
  margin-bottom: 10px;
}
p {
  line-height: 1.25em;
}
.flex-linea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
}
.hidden {
  display: none !important;
}
.icono-mac {
  width: 60px;
  height: 60px;
}
.icon {
  width: 30px;
  height: 30px;
  stroke: var(--background-claro);
}
.borde {
  flex: 1 1 0%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid var(--background-barra);
}
button {
  font-size: 16px;
  font-weight: 400;
  padding: 0.4em 1.2em;
  border: none;
  cursor: pointer;
  color: var(--color);
  background: linear-gradient(to bottom left, var(--color) 50%, #0000 50.1%) top
      right,
    linear-gradient(to top right, var(--color) 50%, #0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3 * var(--border))
    calc(var(--slant) + 1.3 * var(--border));
  background-repeat: no-repeat;
  box-shadow: 0 0 0 200px inset var(--s, #0000),
    0 0 0 var(--border) inset var(--color);
  clip-path: var(--clip-path);
  transition: color var(--t, 0.4s), background-size 0.4s;
}
button:focus-visible {
  outline-offset: calc(-1 * var(--border));
  outline: var(--border) solid #000c;
  clip-path: none;
  background-size: 0 0;
}
button:hover,
button:active {
  background-size: 100% 100%;
  color: #fff;
  --t: 0.2s 0.1s;
}
button:active {
  --s: #0005;
  transition: none;
}
/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra de desplazamiento vertical */
}

::-webkit-scrollbar-thumb {
  background-color: var(
    --background-barra
  ); /* Color del botón de desplazamiento */
  border-radius: 5px; /* Bordes redondeados del botón de desplazamiento */
}

::-webkit-scrollbar-track {
  background-color: var(
    --background
  ); /* Color del fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(
    --secundario
  ); /* Cambia el color al pasar el ratón sobre el botón de desplazamiento */
}
/* AJUSTES GENERALES */
header {
  height: 100vh;
  width: 100vw;
  display: grid;
  /* grid-template-columns: repeat(8, 90px); */
  grid-template-columns: 25% repeat(8, auto) 25%;
  /* grid-template-rows: repeat(6, 1fr); */
  grid-template-rows: 10% repeat(6, 1fr) 5%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* align-items: start; */
  align-items: end;
  justify-items: center;
  justify-content: center;
}
header .icono {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .icono-mac:hover {
  animation: bounce 1s ease;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-7px);
  }
  60% {
    transform: translateY(-4px);
  }
}
header .contenido__doc-apps {
  /* grid-area: 6 / 2 / 7 / 10; */
  grid-area: 7 / 2 / 8 / 10;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 2rem;
  padding: 5px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
/* MAIN */
main {
  display: none;
}
section {
  padding: 10px;
}

.winbox {
  z-index: 99;
  padding: 10px;
}
.winbox .wb-header {
  height: 2rem;
}
.winbox .wb-header .wb-control .wb-full {
  display: none;
}
.winbox .wb-header .wb-drag .wb-title {
  font-family: "Quantum", monospace;
  font-size: 20px;
  text-transform: uppercase;
}
.winbox .wb-header,
.wb-n,
.wb-s,
.wb-w,
.wb-e,
.wb-nw,
.wb-ne,
.wb-se,
.wb-sw {
  background-color: var(--principal);
}
.wb-nw,
.wb-ne {
  border-radius: 15px;
}
.winbox .wb-sw,
.wb-se {
  height: 5px;
  width: 5px;
}
.winbox .wb-e,
.wb-w {
  width: 5px;
}
.winbox .wb-s {
  height: 5px;
}
.winbox .wb-body {
  margin-bottom: 10px;
  background-color: var(--background-transparencia);
}
/* PRINCIPIO TERMINAL */
/* Terminal */
.contenido__terminal textarea.texter {
  position: absolute;
  left: -100vw;
  background-color: var(--background);
  border: none;
  color: white;
  resize: none;
  user-select: none;
}

.contenido__terminal b {
  font-weight: bold;
  text-decoration: underline;
}

/* Cursor Start */
.cursor {
  font-size: 0.75rem;
  color: var(--secundaryTextColor);
  background-color: var(--secundaryTextColor);
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#command {
  cursor: text;
  height: 50px;
  color: var(--secundaryTextColor);
}
#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
#liner::before {
  /* color: var(--highlightTextColor); */
  content: var(--baseDirectory);
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Cursor End */

.contenido__terminal p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
}
.no-animation {
  animation: none !important;
}
.typing-animation {
  animation: typing 0.5s steps(30, end);
}
.margin {
  margin-left: 20px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.index {
  color: var(--blanco);
}
.highlightColor {
  color: var(--highlightTextColor);
}
.command {
  color: var(--secundaryTextColor);
  text-shadow: 0 0 5px var(--secundaryTextColor);
}
.error {
  color: var(--highlightTextColor);
}
.white {
  color: var(--blanco);
}
.inherit,
.contenido__terminal a {
  color: var(--blanco);
}
.contenido__terminal a {
  text-decoration: inherit;
}
.contenido__terminal a:hover {
  background: var(--secundaryTextColor);
  color: var(--background);
}
.contenido__terminal a:focus {
  outline: 0;
}

.contenido__terminal #mobileInput {
  display: none;
}

/* @media (max-width:600px){

  body {
    padding: 0.5rem 0.8rem;
    overflow-x: auto;
  }

  #cursor {
    display: none;
  }

  textarea {
    display: none;
  }

  .cursor {
    display: none;
  }

  #mobileInput {
    display: block;
  }

  #mobileInput input {
    border: none;
    background-color: var(--background);
    width: 85%;
    color: var(--primaryTextColor);
    font-family: monospace;
    font-size: 1rem;
    outline: none;
    font-weight: 500;
    vertical-align:middle;

  }

  #mobileInput::before {
    content: ">";
    color: var(--primaryTextColor);
    margin-right: 10px;
  }

  #terminal {
    font-size: small;
  }

} */
/* FINAL TERMINAL */

/* INICIO ABOUT ME */
.contenido__me {
  padding: 20px;
  display: grid;
  place-items: center;
  justify-items: stretch;
  height: 100vh;
  gap: 1rem;
}
.contenido__me .contenido__me-box1 {
  flex: 1 1 0%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border: 2px solid var(--background-barra);
}
.contenido__me .contenido__me-box1 img {
  /* mix-blend-mode: multiply; */
  max-width: 400px;
  min-width: 200px;
  max-height: 400px;
  min-height: 200px;
  clip-path: var(--clip-path);
}
.contenido__me .contenido__me-box2 {
  flex: 1 1 0%;
  display: flex;
  padding: 20px;
  border-radius: 5px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border: 2px solid var(--background-barra);
}
.contenido__me .contenido__me-box2 code {
  font-size: 15px;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--background-barra);
  white-space: pre-line;
}
.contenido__me .contenido__me-box2 code span.code1 {
  color: #00FFFF;
}
.contenido__me .contenido__me-box2 code span.code2 {
  color: #FF6B6B;
}
.contenido__me .contenido__me-box2 code span.code3 {
  color: #00999b;
}
.contenido__me .contenido__me-box2 code span.code4 {
  color: #00FFFF;
}
.contenido__me .contenido__me-box2 code span.code5 {
  color: orange;
}
.contenido__me .contenido__me-box2 code span.code6 {
  color: yellow;
}
.contenido__me .contenido__me-box2 code span.code7 {
  color: #FF6B6B;
}
/* FINAL ABOUT ME */

/* INICIO EXP-SKILLS*/
.contenido__exp-skills .contenido__exp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contenido__exp-skills .contenido__exp-container div h2 {
  text-align: center;
}
.contenido__exp-skills .contenido__exp-container .contenido__exp-tech span {
  text-align: center;
  clip-path: var(--clip-path);
  padding: 20px;
  background-color: var(--background-barra);
}
.contenido__exp-skills
  .contenido__exp-container
  .contenido__exp-tech
  span:hover {
  background-color: var(--principal-transparencia);
}
.contenido__exp-skills .contenido__exp-container .contenido__exp-tech span p {
  font-weight: 800;
}
/* FINAL EXP-SKILLS*/

/* INICIO WORK */
.contenido__work .card {
  width: 24rem;
  height: 36rem;
  clip-path: var(--clip-path);
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: #fff;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}
.contenido__work .card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}
.contenido__work .card h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
.contenido__work .card p,
.card a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}
.contenido__work .card p {
  inset: auto auto 80px 30px;
}
.contenido__work .card a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}
.contenido__work .card:hover h2 {
  inset: auto auto 270px 30px;
  transition: inset 0.3s ease-out;
}
.contenido__work .card:hover p,
.card:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}
.contenido__work .card:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

/* FINAL WORK */

/* INICIO TESTIMONIALS */
.contenido__testimonials {
  height: 100%;
}
.contenido__testimonials .slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.contenido__testimonials .slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 var(--secundario), 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.contenido__testimonials .slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.contenido__testimonials .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.contenido__testimonials .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.contenido__testimonials .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.contenido__testimonials .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.contenido__testimonials .slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.contenido__testimonials .slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.contenido__testimonials .slider__image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.contenido__testimonials .slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.contenido__testimonials .slider__txt {
  color: var(--secundario);
  margin-bottom: 3rem;
  max-width: 300px;
}
.contenido__testimonials a{
  text-decoration: none;
}

@-webkit-keyframes check {
  50% {
    outline-color: var(--secundario);
    box-shadow: 0 0 0 12px var(--secundario), 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: var(--secundario);
    box-shadow: 0 0 0 0 var(--secundario), 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: var(--secundario);
    box-shadow: 0 0 0 12px var(--secundario), 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: var(--secundario);
    box-shadow: 0 0 0 0 var(--secundario), 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

/* FINAL TESTIMONIALS */

/* INICIO CONTACT */
.contenido__contact h2 {
  font-size: 25px;
}
.contenido__contact h2 span {
  color: var(--principal);
}
.contenido__contact input.button {
  font-size: 16px;
  font-weight: 400;
  padding: 0.4em 1.2em;
  border: none;
  cursor: pointer;
  color: var(--color);
  background: linear-gradient(to bottom left, var(--color) 50%, #0000 50.1%) top
      right,
    linear-gradient(to top right, var(--color) 50%, #0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3 * var(--border))
    calc(var(--slant) + 1.3 * var(--border));
  background-repeat: no-repeat;
  box-shadow: 0 0 0 200px inset var(--s, #0000),
    0 0 0 var(--border) inset var(--color);
  clip-path: var(--clip-path);
  transition: color var(--t, 0.4s), background-size 0.4s;
}
.contenido__contact input.button:focus-visible {
  outline-offset: calc(-1 * var(--border));
  outline: var(--border) solid #000c;
  clip-path: none;
  background-size: 0 0;
}
.contenido__contact input.button:hover,
.contenido__contact input.button:active {
  background-size: 100% 100%;
  color: #fff;
  --t: 0.2s 0.1s;
}
.contenido__contact input.button:active {
  --s: #0005;
  transition: none;
}
/* FINAL CONTACT */

/* MAIN */
/* ESTO ES CSS DEL DOOM DE FUTURO */
.dosbox-work__card {
  width: 320px;
  height: 200px;
}
.dosbox-work__card > .dosbox-overlay {
  background: url(https://js-dos.com/cdn/DOOM.png);
}
/* ESTO ES CSS DEL DOOM DE FUTURO */

@media (max-width: 1919px) {
  /* Estilos para ordenadores con pantalla menor de 1920 x 1080 */
}
@media (max-width: 1024px) {
  /* Estilos para tablets */
  header {
    grid-template-columns: 15% repeat(8, auto) 15%;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* Estilos para dispositivos móviles en orientación vertical */
  /* Generales */
  .icono-mac {
    width: 40px;
    height: 40px;
  }
  /* Generales */
  body {
    min-height: 100svh;
  }
  header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5% repeat(8, 1fr) 5%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 100svh;
  }
  header .contenido__doc-apps {
    grid-area: 2 / 1 / 10 / 2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  /* Terminal Movil */
  #terminal {
    font-size: 10px;
  }
  /* INICIO ABOUT ME MOBILE*/
  .contenido__me {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
  }
  .contenido__me .contenido__me-box1 img {
    width: 300px;
  }
  /* FINAL ABOUT ME MOBILE*/

  /* INICIO EXPERIENCIA */
  /* FINAL EXPERIENCIA */
}
@media only screen and (max-width: 767px) and (orientation: landscape) {
  /* Estilos para dispositivos móviles en orientación horizontal */
}
