@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --background: #121212;
  --background-transparencia: #1212129c;
  --background-barra: #1d1d1d;
  --background-claro: #fff;
  --principal: #8c52ff;
  --principal-transparencia: #8c52ff5e;
  --secundario: #727283ff;
  --blanco: #ffffff;
}
@font-face {
  font-family: "Quantum"; /* Asigna un nombre a tu fuente */
  src: url("../fonts/quantum/Quantum.otf") format("truetype"); /* Ruta relativa a la carpeta fonts y formato de la fuente */
}
body {
  background: url(../img/NetWave-System-Background.png) no-repeat center center
    fixed;
  background-size: cover;
  overflow: hidden;
  font-family: "IBM Plex Mono", monospace;
  color: var(--blanco);
  font-size: 16px;
}
/* AJUSTES GENERALES */
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
h3 {
  font-size: 28px;
  margin-bottom: 10px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 19px;
  margin-bottom: 10px;
}
p {
  line-height: 1.25em;
}
.flex-linea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
}
.hidden {
  display: none !important;
}
.icono-mac {
  width: 60px;
  height: 60px;
}
.icon {
  width: 30px;
  height: 30px;
  stroke: var(--background-claro);
}
.borde {
  flex: 1 1 0%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid var(--background-barra);
}
/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra de desplazamiento vertical */
}

::-webkit-scrollbar-thumb {
  background-color: var(
    --background-barra
  ); /* Color del botón de desplazamiento */
  border-radius: 5px; /* Bordes redondeados del botón de desplazamiento */
}

::-webkit-scrollbar-track {
  background-color: var(
    --background
  ); /* Color del fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(
    --secundario
  ); /* Cambia el color al pasar el ratón sobre el botón de desplazamiento */
}
/* AJUSTES GENERALES */
header {
  height: 100vh;
  width: 100vw;
  display: grid;
  /* grid-template-columns: repeat(8, 90px); */
  grid-template-columns: 25% repeat(8, auto) 25%;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: start;
  justify-items: center;
  justify-content: center;
  /* margin-bottom: 90px; */
}
header .icono {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .icono-mac:hover {
  animation: bounce 1s ease;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-7px);
  }
  60% {
    transform: translateY(-4px);
  }
}
header .contenido__doc-apps {
  grid-area: 6 / 2 / 7 / 10;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 2rem;
}
/* header a.icono__home {
  grid-area: 6 / 2 / 7 / 3;
}
header a.icono__me {
  grid-area: 6 / 3 / 7 / 4;
}
header a.icono__exp-skills {
  grid-area: 6 / 4 / 7 / 5;
}
header a.icono__work {
  grid-area: 6 / 5 / 7 / 6;
}
header a.icono__testimonials {
  grid-area: 6 / 6 / 7 / 7;
}
header a.icono__contact {
  grid-area: 6 / 7 / 7 / 8;
}
header a.icono__social {
  grid-area: 6 / 9 / 7 / 10;
}
header a.icono__doom {
  grid-area: 6 / 8 / 7 / 9;
} */

/* MAIN */
main {
  display: none;
}
section {
  padding: 10px;
}

.winbox {
  z-index: 99;
  padding: 10px;
}
.winbox .wb-header {
  height: 2rem;
}
.winbox .wb-header .wb-control .wb-full {
  display: none;
}
.winbox .wb-header .wb-drag .wb-title {
  font-family: "Quantum", monospace;
  font-size: 20px;
  text-transform: uppercase;
}
.winbox .wb-header,
.wb-n,
.wb-s,
.wb-w,
.wb-e,
.wb-nw,
.wb-ne,
.wb-se,
.wb-sw {
  background-color: var(--principal);
}
.wb-nw,
.wb-ne {
  border-radius: 15px;
}
.winbox .wb-sw,
.wb-se {
  height: 5px;
  width: 5px;
}
.winbox .wb-e,
.wb-w {
  width: 5px;
}
.winbox .wb-s {
  height: 5px;
}
.winbox .wb-body {
  margin-bottom: 10px;
  background-color: var(--background-transparencia);
}
/* PRINCIPIO HOME */

/* FINAL HOME */

/* INICIO ABOUT ME */
.contenido__me {
  padding: 20px;
  display: grid;
  place-items: center;
  justify-items: stretch;
  height: 100vh;
  gap: 1rem;
}
.contenido__me .contenido__me-box1 {
  flex: 1 1 0%;
  display: flex;
  padding: 20px;
  border-radius: 5px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border: 2px solid var(--background-barra);
}
.contenido__me .contenido__me-box1 img {
  /* mix-blend-mode: multiply; */
  max-width: 400px;
  min-width: 200px;
  max-height: 400px;
  min-height: 200px;
}
.contenido__me .contenido__me-box2 {
  flex: 1 1 0%;
  display: flex;
  padding: 20px;
  border-radius: 5px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border: 2px solid var(--background-barra);
}
.contenido__me .contenido__me-box2 code {
  font-size: 15px;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--background-barra);
  white-space: pre-line;
}
.contenido__me .contenido__me-box2 code span.code1 {
  color: blue;
}
.contenido__me .contenido__me-box2 code span.code2 {
  color: red;
}
.contenido__me .contenido__me-box2 code span.code3 {
  color: pink;
}
.contenido__me .contenido__me-box2 code span.code4 {
  color: green;
}
.contenido__me .contenido__me-box2 code span.code5 {
  color: cyan;
}
.contenido__me .contenido__me-box2 code span.code6 {
  color: yellow;
}
.contenido__me .contenido__me-box2 code span.code7 {
  color: orange;
}
/* FINAL ABOUT ME */

/* INICIO EXP-SKILLS*/
.contenido__exp-skills .contenido__exp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contenido__exp-skills .contenido__exp-container button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 100;
  color: var(--blanco);
  background-color: var(--principal-transparencia);
}
.contenido__exp-skills .contenido__exp-container button:hover {
  background-color: var(--background-barra);
}
.contenido__exp-skills .contenido__exp-container div h2 {
  text-align: center;
}
.contenido__exp-skills .contenido__exp-container .contenido__exp-tech span {
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--background-barra);
}
.contenido__exp-skills
  .contenido__exp-container
  .contenido__exp-tech
  span:hover {
  background-color: var(--principal-transparencia);
}
.contenido__exp-skills .contenido__exp-container .contenido__exp-tech span p {
  font-weight: 800;
}
/* FINAL EXP-SKILLS*/

/* INICIO WORK */
.work__card {
  position: relative;
  margin-top: 50px;
  width: 500px;
  height: 300px;
}

.work__card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.work__card:hover .work__card-overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.work__card-img {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 0;
}

.work__card-title {
  position: absolute;
  width: 500px;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top 0.5s ease;
}

.work__card:hover .work__card-title {
  top: 90px;
}

.work__card-button {
  position: absolute;
  width: 500px;
  left: 0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.work__card-button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  text-decoration: none;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.work__card:hover .work__card-button {
  opacity: 1;
}

/* FINAL WORK */
/* MAIN */
/* ESTO ES CSS DEL DOOM DE FUTURO */
.dosbox-work__card {
  width: 320px;
  height: 200px;
}
.dosbox-work__card > .dosbox-overlay {
  background: url(https://js-dos.com/cdn/DOOM.png);
}
/* ESTO ES CSS DEL DOOM DE FUTURO */

@media (max-width: 1919px) {
  /* Estilos para ordenadores con pantalla menor de 1920 x 1080 */
}
@media (max-width: 1024px) {
  /* Estilos para tablets */
  header {
    grid-template-columns: 15% repeat(8, auto) 15%;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* Estilos para dispositivos móviles en orientación vertical */
  /* Generales */
  .icono-mac {
    width: 40px;
    height: 40px;
  }
  /* Generales */

  header {
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh; /* Ajusta la altura según tus necesidades */
  }
  header .contenido__doc-apps {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  /* INICIO ABOUT ME MOBILE*/
  .contenido__me {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
  }
  .contenido__me .contenido__me-box1 img {
    width: 300px;
  }
}
@media only screen and (max-width: 767px) and (orientation: landscape) {
  /* Estilos para dispositivos móviles en orientación horizontal */
}
